 /************ RESET ************ */

@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ol{
	margin-left: 1.4em;
	list-style: decimal;
}

hr {

  height: 1px !important;
  background-color:#d88e44 !important;
  /*background-image: ;*/

}

/*ul{
	margin-left: 1.4em;
	list-style: square;
}*/

img{
	border: 0;
}

/* ************ FIN RESET ************ */


button{

  margin: 4px;
  border: 0;
  background-color: #FFFFFF;
  
}

body{

  background-color: #FFFFFF;
}

.rotulacion-body{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #adc345;



}



main > * {

    background-color: #FFFFFF;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

main {

  /*color: #cfd37a;*/
  background-color: #ffffff;

  /* background-image: radial-gradient(rgb(250, 126, 55),
                                    rgb(250, 138, 73),
                                    rgb(251, 149, 91),
                                    rgb(251, 161, 110),
                                    rgb(252, 173, 128),
                                    rgb(252, 185, 146),
                                    rgb(253, 196, 164),
                                    rgb(253, 208, 182),
                                    rgb(254, 220, 200),
                                    rgb(254, 232, 219),
                                    rgb(255, 243, 237),
                                    rgb(255, 255, 255)); */


  display: grid;

  grid-gap: 2px;

    /*grid-template-columns:
    repeat(3, 1fr);

    grid-template-rows:
    repeat(3, auto);*/

    grid-template-columns:

    
    [section-column] 1fr;

  grid-template-rows:

    [header-row] minmax(min-content, max-content)
    [menuprincipal-row] minmax(min-content, max-content)
    [menucategorias-row] minmax(min-content, 1fr)
    [section-row] minmax(min-content, 100px)
    [aside-row] minmax(min-content, 100px)
    [footer-row] minmax(min-content, 100px);

    grid-template-areas: "header header header"
    					 "menuprincipal menuprincipal menuprincipal"    					 
               "section section section"
               "menucategorias menucategorias menucategorias"
               "aside aside aside"
    					 "footer footer footer";

}

header{

    grid-area: header;
    /*margin: auto;*/
    /*background: #FFFFFF;
    display: block;*/
    width: 100%;
    background-color: white;
   /* display: inline-block;*/
   display: flex;
   /*border: none;*/
}

.logo-cabecera{

  display:block;
  margin:auto;
}


footer{

    grid-area: footer;
}

section{

    grid-area: section;
}

#menuprincipal{

    grid-area: menuprincipal;
}

#menucategorias{

    grid-area: menucategorias;
}

aside{

  grid-area: aside;
  
}


/*////////////////////MENÚ PAGINACION////////////////////*/

#paginacion{

  display: flex;

  text-align: center;
  align-items: center;
 /* margin: auto; */
   


}

.paginacion{

  /*flex: auto;*/

    align-content: center;
  align-items: center;
  /*margin: auto; */
  display: inline;


  text-align: center;
/*  width: 100%;*/
}




/*////////////////////MENÚ PRINCIPAL////////////////////*/

.menuprincipal{

  font-family: Futura Medium, Century Gothic, AppleGothic, sans-serif;
  /*font-size: 24px; */ 
  /*padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;*/
  list-style: none;
  /* background: #F6F6F6; */
  background: #F6F6F6;

}

#menuprincipal ul{

  display: flex;
  
}

.menuprincipal li{

  flex: auto;
  border-bottom: 2px solid orange;
  text-align: center;  

}

.menuprincipal li:last-child {

    border-bottom: none;
}

.menuprincipal a{

  color: white;
  text-decoration: none;
  /*line-height: 2;*/
  /*display: block;*/
  font-weight: bold;
  font-size: 0.9em;
}

.menuprincipal a:hover {

    background: rgba(#000, .4);
  }



/*////////////////////MENÚ CATEGORÍAS////////////////////*/

.menucategorias{

  font-family: Futura Medium, Century Gothic, AppleGothic, sans-serif;
  font-size: 1.2em;  
/*  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;*/
  list-style: none;
  background: #ffffff;
  /*display:flex;*/
  top: auto;
  text-align: right;
  padding: 20px 10px 20px;
}

.menucategorias li{

  flex: auto;
  border-bottom: 2px solid orange;
  text-align: center;  

}

.menucategorias li:last-child {

    border-bottom: none;
}

.menucategorias a{

  color: white;
  text-decoration: none;
  /*line-height: 2;*/
 /* display: block;*/
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

.menucategorias a:hover {

    background: rgba(#000, .4);
}



/***************************MENÚ DERECHA*********************/

.menu-derecha{

  /*background-color: #ecebeb;*/
    /* margin: 20px;
  padding: 5px; 
  background-color: #ffdbb8;*/
  padding: 15px;

}



.menu-usuarios{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /*display: flex;*/
  /*margin: auto;*/
  padding: 10px;



}

.register-login{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  background-color: #ececec;



}




.logueado{

  /*display: flex;*/

}

.portada{

  /*display: flex;*/
/*  margin: auto;
  align-content: center;
  align-items: center;*/
  text-align: center;

}




.imagen-cabecera{

  margin: 10px;
  width: 120px;

}


.contenedor_menuCategorias{

  background-color: #dde0e5;


}


.firma-proyecto{

  color: #969696;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  




}




.div-categoria{

  /*display:block;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  margin:auto;

  text-align: center;

  color: rgb(106, 106, 106);


  
  

  /* border-bottom: #C50A0A; */
  /*border-bottom: 1px solid #d88e44;*/


}

.clase-alineado-derecha{

  display:block;
  margin:auto;
  text-align: right;
  
}

.div-producto{

  /*display: flex;*/
  border: solid 1px;
  /*border-width: 2px;*/
  border-color: #a5a5a5;
  
  margin: 5px;
  padding: 5px;
  /*max-width: 200px;*/
  width: 200px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}



.boton-categoria{

  color: #3c46d0;


}




/*.linea-naranja-bottom{

  background-color: #d88e44;   
  border-bottom: 2px solid orange;  


}*/


#totalPrecio{

  width: 100%;
  text-align: right;
}




/*/////////////////////////////////////////////*/

h1{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #fcaf4a;
	font-size: 32px;
	font-weight: bold;
	text-align: center;  
}

h2{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
	color: #7bef77;
	text-align: center;
}

.resultado{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
	color: #C50A0A;
}

label{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: #0A6900;
	font-weight: bold;
}

table {

   /*align-content: : center;*/
   /*width: 100%;*/
   margin: auto;
   padding: 1px;
   /*border: 1px solid rgb(154, 154, 154);*/

   /*border-spacing: 6px;*/
   align-content: center;
   background: #adc345;

}

th, td {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   width: 25%;
   text-align: center;
   vertical-align: middle;
   border: 0px solid #000;
   background-color: white;
   padding: 3px;
}


/*.title{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #d88e44;





}*/


a{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


  text-align: center;
  margin: auto;
  display: flex;
}

a:link {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:14px;
    color: #d88e44;
    text-align: center;

}

a:visited {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:14px;
    color: #d88e44;
}

a:active {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:14px;
    color: #d88e44;
}

a:hover {

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:14px;
  color:#adc345;
  
}


.vinculo{
	

	text-align: center;
}

#caja_centrada{

	margin: auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	
	padding: 20px;
	/*height: 100hv;
	width: 80%;*/
	align-content: center;
	text-align: center;
	
	
}

fieldset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*display: block;*/
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 6px;
    border-style: groove;
    border-color: #5FB9ED;
    border-image: initial;
    font-size: 12px;
}




/*
///////////////////RESPONSIVE///////////////////////////
*/


/*MEDIA QUERYS EN GRANDE*/



@media screen and (min-width: 768px){



/*MENU CATEGORÍAS EN GRANDE*/
  .menucategorias li{

    /*border-bottom: 2px solid orange;*/
    /*border-right: 2px solid orange;*/
  }

  .menucategorias li:last-child {

      border-right: none;
  }

/*MENU PRINCIPAL EN GRANDE*/

 .menuprincipal{

      display:flex;
  }

  .menuprincipal li{

    border-right: 1px solid #d88e44;
    border-bottom: none;
  }

  .menuprincipal li:last-child {

      border-right: none;
  }




/*GRID EN GRANDE*/
  main {


  margin: 0 auto;
  
  max-width: 1300px;
  min-height: 100vh;

    width: 95%;

    grid-gap: 2px;

      /*grid-template-columns:
      repeat(3, 1fr);

      grid-template-rows:
      repeat(3, auto);*/

      grid-template-columns:

      [left-column] 2fr
      [section-column] 7fr
      [right-column]  minmax(min-content, 2fr);

    grid-template-rows:

      [header-row] minmax(min-content, max-content)
      [menu-row] minmax(min-content, max-content)
      [section-row] minmax(min-content, 1fr)
      [footer-row] minmax(min-content, 100px);

      grid-template-areas:  "header header header"
                            "menuprincipal menuprincipal menuprincipal"
                            "menucategorias section aside"
                            "footer footer footer";
  }

/*section{

  flex-wrap: wrap;
}*/



/*CABECERA EN GRANDE*/
.imagen-cabecera{



}


header{

    width: 100%;
    
    }




#caja_centrada{


  height: 100hv;
  width: 95%;
}



/*FOOTER STYLES*/

/*.center{

  text-align: center;
  align-content: center;
  


}
*/

.footer-box-right{

  /*display: flex;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;*/
  text-align: left;

  /*align-items: right;
  position: absolute;
  justify-content: right;
  z-index: 5;
  top: 0;
  width: 50px;
  height: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5)*/
  
  

}




.footer-box-left{

    display: inline-block;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    text-align: right;
    /*align-items: right;*/
    /*position: absolute;
    justify-content: right;
    z-index: 5;*/
    /*top: 0;
    width: 50px;
    height: 100%;*/
    font-size: 16px;
    /*background-color: rgba(255, 255, 255, 0.5)*/
    
    
}




.redes-pie{

  display:block;
  margin:auto;
  width: 30px;

}



.imagen-pie{


  /*display:flex;*/
  /*margin:auto;*/

  margin: 10px;
  width: 120px;


  /*display: flex;*/
  
  /*align-items: center;
  text-align: center;*/


}


.pie-pagina{

    /*width: 100%;
    background-color: #FFFFFF;*/

}

.grupo-1{

    /*width: 100%;
    max-width: 1200px;
    margin: auto;*/
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /*padding: 15px 0px;*/
    /*width: 100%;
    height:100%;*/
    /*display: flex;*/

}

.footer-box-midle{


  display: inline-block;
  /*display:flex;*/
  /*margin:auto;*/
  /*width: 100px;
  height: 100px;*/
  /*align-items: center;*/
  text-align: center;


}






/*.pie-pagina .grupo-1 .footer-box figure img{

    width: 100px;
}*/

/*.pie-pagina .grupo-1 .footer-box h2{

    color: #3c46d0;
    margin-bottom: 25px;
    font-size: 20px;
}*/

/*.pie-pagina .grupo-1 .footer-box p{

  color: #d03c57;
  margin-bottom: 10px;
  font-size: 16px;
}*/

.pie-pagina .grupo-1 .red-social a{

  display: inline-block;
  text-decoration: none;
  /*width: 45px;
  height: 45px;*/
  /*line-height: 0px;*/
  /*color: #ffffff;
  margin-right: 10px;*/
  /*background-color: #0c3d90;*/
  text-align: left;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{

  color: aqua;
}

.pie-pagina .grupo-2{

  background-color: #ffffff;
  padding: 15px 10px;
  text-align: center;
  color: #969696;
}

.pie-pagina .grupo-2 small{
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



}

}